/* 
 * �젅�씠�븘�썐�쓣 �쐞�븳 怨듯넻 �뒪���씪


.top-wrapper {
	position:relative;
	width: 960px;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
}

-------------------------------------------
 * �뿤�뜑 �젅�씠�븘�썐 �뒪���씪
 *

#header {
	height: 70px;	
}

#headers {
	min-height: 100px;
}


#header > .top-wrapper > *
{
	position: absolute;
}

#logos{
	position: absolute;
	width: 200px;
	top: 10px;
}

#color-line {
	min-height: 40px;
	background: red;
}

#mainmenu{
	left:200px;
	top:27px;
}

#recipe-searchs {
	width: 253px;
	height: 25px;
	border: 1px solid #FD6E47;
	border-radius: 3px;
	position: absolute;
	top: 30px;
	left: 268px;
}

#recipe-searchs fieldset>input {
	display: block;
	float: left;
}

#recipe-searchs input[type='text'] {
	width: 222px;
	height: 25px;
	border: 0px solid #fff;
}

#recipe-searchs input[type='submit'] {
	text-indent: -999px;
	cursor: pointer;
	border: 0px;
	width: 31px;
	height: 25px;
	background: url("../images/btn-search-yojo.png") no-repeat center;
	border-left: 1px solid #FD6E47;
}

#joinus-menus {
	display: inline-block;
	position: absolute;
	top: 35px;
	right: 0px;
}

#joinus-menus>ul>li {
	float: left;
	padding-left: 9px;
	background: url("../images/bg-member-menu-vsp.png") no-repeat 5px center;
}

#joinus-menus>ul>li:FIRST-CHILD {
	padding-left: 0px;
	background: none;
}

#joinus-menus>ul>li a {
	color: inherit;
	font-family: "맑은 고딕", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

#joinus-menus>ul>li a:HOVER {
	text-decoration: underline;
}


#searchform{
	left:468px;
	top:21px;
}

#loginmenu{
	right:0px;
	top:20px;
}

#membermenu{
	right:0px;
	top:40px;
}

---------------------------------------*//*
	visual layout


#visual {
	background:#282828 url("../images/bgVisual.png") no-repeat center;
	height: 171px;
	border-top: 3px solid #8CBA34;
	border-bottom: 1px solid #ffffff;
}

#visual.customer > div.top-wrapper
{
	background:url("../customer/images/visual.png") no-repeat center;
	height: 171px;
}

#visual.joinus > div.top-wrapper
{
	background:url("../joinus/images/visual.png") no-repeat center;
	height: 171px;
}
-------------------------------------
 	Main layout
 *
#main {	
	border-top: 5px solid #8CBA34;
}

#main-visual {
	display: block;
	width:1920px;
	height:700px;
	width:100%;
	min-height:700px;
	
	background: url("../images/dessert.jpg") no-repeat;
	background-attachment: auto;
	background-size: contain;
	margin:0 auto;

}

#main  .top-wrapper
{
	background:  url("../images/bgContent.png") repeat-y 0px 0px;
}

#content {	
	float: right;
	width: 720px; 755-35
	padding-left:35px;
	padding-top:45px;
	padding-bottom:50px;
	position:relative;
}

#breadscrumb{
	position: absolute;
	top:57px;
	right: 0px;
}

#content-searchform
{
	margin-top:49px;
	text-align: right;
}

#content-searchform fieldset
{
	display: inline-block;
}

#cur-page{
	text-align: right;
}

#pager-wrapper
{
	text-align: center;
}

#categories {
	margin-left: 1000px;
	margin-top: auto;
	margin-bottom: auto;
}
#categories>ul>li>a {
	font-family: 맑은 고딕, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #FE6739;
	
----------------------------------------
  	Navigation layout
 *

#navi {	
	width: 205px;
	float: left;
	background: url("../images/bgNaviTitle.png") no-repeat 0px 0px;
	padding-bottom: 50px;
}

#navi-menu
{
	margin-top:35px;
}

#fav-title
{
	margin-top: 35px;
}

=========== footer =====================================================================================

#footer {
	padding: 20px;
	background: pink;
	height: 265px;
	clear: both;
}

#footer h2{
	float:left;
}

#footer h2 + p
{
	font-weight:bold;
	float: left; 
	margin-left: 50px; 
	height: 100px;
	margin-bottom: 10px;
}

#footer h2 + p + p
{
	clear:left;
    display: block;
	color:#969696;
	font-weight: bold;
	font-size: 11px;
}

 */
 
 @CHARSET "UTF-8";

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibilty: hidden;
}


.hidden{
	display: none;
	visibility: hidden;
}

.content-container {
	position: relative;
	height: inherit;
	margin-left: 100px;
	margin-right: 100px;
	border: 2px red;
	/* opacity:0.5; */
}

body {
	font-family: 돋움, Arial, sans-serif;
	font-size: 11px;
	color: #979797;
}



/* -----#header---------------------------------------------------- */
#header {
	min-height: 90px;
}

#color-line {
	min-height: 60px;
	background: #ffe3c7;
}

#logo {
	position: absolute;
	width: 200px;
	top: 15px;
}

#recipe-search {
	width: 253px;
	height: 25px;
	border: 1px solid #FD6E47;
	border-radius: 3px;
	position: absolute;
	top: 30px;
	left: 268px;
}


#recipe-search fieldset>input {
	display: block;
	float: left;
}

#recipe-search input[type='text'] {
	width: 222px;
	height: 25px;
	border: 0px solid #fff;
}

#recipe-search input[type='submit'] {
	text-indent: -999px;
	cursor: pointer;
	border: 0px;
	width: 31px;
	height: 25px;
	background: url("../images/btn-search-yojo.png") no-repeat center;
	border-left: 1px solid #FD6E47;
}

#joinus-menu {
	display: inline-block;
	position: absolute;
	top: 35px;
	right: 0px;
	
}

#joinus-menu>ul>li {
	float: left;
	padding-left: 9px;
	background: url("../images/bg-member-menu-vsp.png") no-repeat 5px center;
}

#joinus-menu>ul>li:FIRST-CHILD {
	padding-left: 0px;
	background: none;
}

#joinus-menu>ul>li a {
	color: #ce3002;
	font-family: "맑은 고딕", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

#joinus-menu>ul>li a:HOVER {
	text-decoration: underline;
}




 
 
 