@import url(../../css/reset.css);
@import url(../../css/base.css);
@import url(../../css/layout.css);

@CHARSET "EUC-KR";
/* -- #main-visual ----------------------------------------------------------- */
#main-visual {
/*  display: block;
	width:100%;
	height:100%;
	position: absolute; */
	
	display:block;
    overflow: hidden;
    min-height: 500px;
    max-height: 700px;
    width: 100%;
    min-width: 1030px;
    margin-bottom: -29px;

	background: url("../images/dessert.jpg") no-repeat;
	background-attachment: auto;
	background-size: contain;
	margin:0 auto;

}

#category {
	display: block;
	margin-left: 75%;
	margin-top: 3%;
}


#board-menu>li>a {
	font-family: 맑은 고딕, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #FE6739;
}


#recipe-menu>li>a {
	font-family: 맑은 고딕, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #FE6739;
	margin-left: 20px;
}


/* ----- 레시피 리스트   ------------------------------------------*/
#recipes-list {
	background: #f6f6f6;
    margin: 26px 0;
    padding: 26px 0 60px;
    border-bottom: 1px solid #bec6d1;
    min-width: 1030px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
}