<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form name="insFrm" id="insFrm" method="post">
	<div class="container rcp-reg">
    <div class="rcp-title">레시피 등록<a href="javascript:void(0)" id="btnRecipeInsertGuide"><img src="http://recipe1.ezmember.co.kr/img/btn_guide.gif" alt="레시피등록안내"></a></div>
    <div class="content-box">
    	레시피명, 카테고리, 재료
    </div>
    <div class="content-box">
    	조리방법
    </div>

	
	
	
	</div>
	</form>
	
	
</body>
</html>